<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Sistema Flask - Home</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
</head>
<body>
    <section class="section-page">
    <header>
        <nav class="container">
            <div class="logo">Flask<span>App</span></div>
            <ul>
                  <li><a href="{{ url_for('homepage') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
                <li><a href="{{ url_for('listagem') }}">Alunos</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
            </ul>
        </nav>
    </header>

    <div class="page-header">
        <h1>Entre em contato</h1>
        <p>Duvidas sobre o projeto e suporte tecnico? utilize os canais abaixo.</p>
    </div>

    <div class="contact-grid">
        <div class="contact-card">
            <span class="material-symbols-outlined icon icon">mail</span>
            <h3>E-mail</h3>
            <p>suporte.aluno@escola.com</p>
        </div>

        <div class="contact-card">
            <span class="material-symbols-outlined icon icon">call</span>
            <h3>Telefone</h3>
            <p>(11) 98765-4321</p>
        </div>

        <div class="contact-card">
            <span class="material-symbols-outlined icon icon">location_on</span>
            <h3>Laboratório</h3>
            <p>Bloco C - Sala 204</p>
        </div>
    </div>
    </section>
    
    <footer>
        <p>&copy; 2026 Projeto Técnico - Desenvolvimento de Sistemas</p>
    </footer>
        
    </body>